<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>SCSC - Atualizar Status</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header class="site-header">
        <h1 class="site-title">Sistema de Controle de Solicitações Corporativas</h1>
        <br>
        <nav class="navbar">
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="centered">
        <section class="card">
            <h2>Atualizar Status</h2>

            <form method="POST">
                <label>ID da Solicitação</label>
                <input type="number"name="request_id"required>

                <label>Novo Status</label>

                <select name="new_status"required>
                    <option>Em aberto</option>
                    <option>Em andamento</option>
                    <option>Finalizada</option>
                </select>

                <button type="submit" class="btn-blue">Atualizar</button>
                <button onclick="history.back()" class="btn-red">Voltar</button>

            </form>

            {% if message %}
            <p>{{ message }}</p>
            {% endif %}

        </section>
    </main>

    <footer class="site-footer">
        <p>© 2026 PUCCAMP - Sistema de Controle de Solicitações Corporativas</p>
    </footer>

</body>
</html>